@import url(https://fonts.googleapis.com/css?family=Sniglet|Raleway:900);
.panel-default > .panel-heading {
  background-color: transparent;
  border: medium none;
  border-radius: 0;
  color: inherit;
  padding: 0;
  position: relative;
}
.panel-heading .panel-title > a {
  background-color: #34ace0;
  color: white;
  border: medium none;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 28px;
  padding: 11px 65px 11px 40px;
  word-wrap: break-word;
}

.panel-heading .panel-title > a::after {
  bottom: 0;
  content: "▲";
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 48px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 60px;
}
.panel-heading .panel-title > a.collapsed::after {
  content: "▼";
}
.panel-body {
  padding: 10px;
  text-align: justify;
  height: auto;
  overflow: auto;
  background-color: #ecf0f1;
}

header {
  height: 120px;
  background: url("http://www.geertjanhendriks.nl/codepen/form/golf.png")
    repeat-x bottom;
}

h3 {
  font-weight: normal;
  font-size: 3em;
  font-family: "Raleway", sans-serif;
  margin: 0 auto;
  margin-top: 30px;
  width: auto;
  color: #f90;
  text-align: center;
}
